%table#scoreboard.table.table-striped
  %thead
    %tr
      %th Rank
      %th Name
      %th Table
      %th Chips
  %tbody
  - scoreboard.each do |id, data|
    %tr.player{:class => ("lost" if data[:losing_time] != nil)}
      %td= data[:rank]
      %td= data[:name].slice(0,15)
      %td.tab= data[:losing_time] != nil ? "LOST" : data[:table]
      %td.chips
        != stack_display(data[:stack], false)
        = data[:stack] 
