.span4
  %aside#sidebar
    %h2 Scoreboard
    %table#scoreboard.table.table-striped
      %thead
        %tr
          %th Rank
          %th Name
          %th Table
          %th Chips
      %tbody
      - @scoreboard.each do |id, data|
        %tr.player{:class => ("lost" if data[:losing_time] != nil)}
          %td= data[:rank]
          %td= data[:name].slice(0,20)
          %td.tab= data[:losing_time] != nil ? "LOST" : data[:table]
          %td
            != stack_display(data[:stack], false)
            = data[:stack]
.span8
  %section#content
    %h2 Tables
    #poker_tables
      - @tables.each do |id, data|
        .poker_table{:class => "table_#{id}"}
          %h3 Table #{id}
          %ul.players
            - data[:players].each_with_index do |player, i|
              %li{:class => ("bottom" if (i/3).truncate % 2 == 1)}
                - if (i/3).truncate % 2 != 1
                  %span.name= player.name
                  %span.stack
                    != stack_display(player.stack)
                    = player.stack
                - else
                  %span.stack
                    != stack_display(player.stack)
                    = player.stack 
                  %span.name= player.name
          .clearfix
          %h3.last_winner
            %i.icon.icon-white.icon-exclamation-sign
            = data[:last_winner]  
      .clearfix
