.span4
  %aside#sidebar
    %h2 Scoreboard
    %table#scoreboard.table.table-striped
      %thead
        %tr
          %th Rank
          %th Name
          %th Table
          %th Chips
      %tbody
      - @scoreboard.each do |id, data|
        %tr{:class => ("lost" if data[:losing_time] != nil)}
          %td= data[:rank]
          %td= data[:name].slice(0,20)
          %td= data[:losing_time] != nil ? "LOST" : data[:table]
          %td
            %i.stack
            = data[:stack]

.span8
  %section#content
    %h2 Tables
    = @tables
