.span12
  .registration
    %h2 Registration
    = form_for(@player, :url => "/", :method => :post) do |f|
      - flash.each do |type, value|
        .row
          .alert{:class => "alert-#{type.to_s}", :"data-dismiss" => "alert"}
            %i.icon.icon-exclamation-sign
            = value  
      .row
        = f.text_field :name, :class => "field", :placeholder => "username"
      .row
        = f.text_field :game_id, :class => "field", :placeholder => "student ID"
      .row.big
        = f.submit "Enter Tournament", :class => "btn btn-large btn-primary"
