<!DOCTYPE html>
<html>
<head>
  <title>ServerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- <meta http-equiv="refresh" content="10" />  -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<% if admin_signed_in? %>
		<%= link_to "Sign Out", destroy_admin_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign In", new_admin_session_path %>
		Don't have an account? <%= link_to "Sign up", new_admin_registration_path %>
	<% end %>
<%= yield %>

</body>
</html>
